#paginacion {
  border: 0px solid #F0E8F1;
  background-color: #F0E8F1;
  padding: .5em;
}

.derecha   { float: right; }
.izquierda { float: left;  }
.centro { float: left; margin-left: 120px; }


.grafico {
position: relative;
width: 200px;
border: 1px solid #B1D632;
padding: 2px;
}
.grafico .barra {
display: block;
position: relative;
background: #B1D632;
text-align: center;
color: #333;
height: 2em;
line-height: 2em;
}
.grafico .barra span {
position: absolute; left: 1em;
}


table#dist {
    border-spacing: 1px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

#dist th {
    width: 55px;
    text-align: center;
}

th {
    text-align: left;
}

td, th {
    padding: 0;
}

.dist_-4 {
    background: #0ee815;
}

.dist_-3 {
    background: #E3FF57;
}

.dist_-2 {
    background: #E3FF57;
}


.dist_-1 {
    background: #E3FF57;
}

.dist_0 {
    background: #E3FF57;
}

.dist_1 {
    background: #E3FF57;
}

.dist_2 {
    background: #E3FF57;
}


.dist_3 {
    background: #FFC627;
}

.dist_4 {
    background: #ec370a;
}
